@import '../../../../../assets/scss/mixins.scss';
@import '../../../../../assets/scss/variables.scss';
.quiz {
  background-color: $light-blue--op;
  &--presenting {
    min-width: 90vw;
  }
  &__container {
    min-height: 100vh;
    background-color: $light-blue--op;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    padding: 1rem 0 0 0;
    align-self: start;
    &-image {
      max-width: 12rem;
      max-height: 12rem;
    }
  }

  &__question {
    @include flex(center, center);
    font-size: 2rem;
    font-weight: 800;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    // max-width: 70vw;
    text-align: center;
    background-color: transparent;
    color: white;
    padding-bottom: 0.5rem;
  }

  &__answers {
    @include flex(center, center);
  }

  &__answer {
    @include flex(center, start);
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 0 3rem;
    border-radius: 3rem !important;

    &--0 {
      background-color: $orange-primary !important;
    }
    &--1 {
      background-color: $beige-primary !important;
    }
    &--2 {
      background-color: $dark-blue !important;
      color: white !important;
    }
    &--3 {
      background-color: $green-primary !important;
    }
    &:hover {
      cursor: pointer;
      background-color: $light-blue !important;
      color: $white-primary;
      box-shadow: $dark-blue 0.5rem 1rem 1rem 0.4rem;
    }
    &-icon {
      justify-self: flex-start;
      margin-right: 1rem;
      color: rgb(91, 255, 91);
    }
  }

  &__result {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-chart {
    }
    &-point {
      padding: 1rem 0.5rem;
      font-size: $font-size--xxxl;
      font-weight: $font-weight--bold;
      color: $white-primary;
    }
  }
}
