@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/variables.scss';

.demo {
  // background-color: rgb(150, 248, 135);
  // min-height: 80vh;
  background-color: $light-blue--op;

  &--presenting {
    // min-width: 80vw;
    // min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    background-color: $gray-dark !important;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 1rem;
    box-shadow: $light-blue 0px 0px 0.7rem 0px;
    &--presenting {
      width: 60vw !important;
    }
  }

  &__question {
    @include flex(center, center);
    font-size: 2rem;
    font-weight: 900;
    border-radius: 2rem !important;
    border: 0.6rem solid !important;
    max-width: 100%;
    min-height: max-content;
  }

  &__answers {
    @include flex(center, center);
  }

  &__answer {
    width: 100%;
    min-height: max-content;
    @include flex(center, center);
    flex-wrap: wrap;
    font-size: 1.5rem;
    border-radius: 3rem !important;
    margin: 2rem;

    & > span {
      width: 80%;
      text-align: center;
      overflow-wrap: break-word;
    }

    &:hover {
      cursor: pointer;
      background-color: $light-blue;
      color: $white-primary;
    }
    &--selected {
      background-color: $light-blue !important;
      color: $white-primary !important;
      box-shadow: $dark-blue 0px 0px 10px 0px;
    }

    &-icon {
      justify-self: flex-center;
      align-self: center;
      margin-right: 1rem;
      color: rgb(91, 255, 91);
    }
  }

  &__heading {
    @include flex(center, center);
    letter-spacing: 0.15rem;
    color: white !important;
    font-size: 2.2rem;
    font-weight: 900;
    max-width: 100%;
    min-height: max-content;
    &--presenting {
      width: 60vw;
      min-height: 80vh;
    }
    &--sub {
      @include flex(flex-start, center);
      font-size: 1.2rem;
      font-weight: 300;
      color: white !important;
    }
  }
  &__paragraph {
    &--presenting {
      // min-width: 80vw;
    }
    &-description {
      @include flex(center, center);
      font-size: 1.1rem;
      font-weight: 500;
      max-width: 100%;
      min-height: max-content;
    }
    &-heading {
      letter-spacing: 0.1rem;
      @include flex(center, center);
      font-size: 1.5rem;
      font-weight: 900;
      max-width: 100%;
      min-height: max-content;
    }
  }
}

.chart {
  &__container {
    @include flex(center, center);
  }
}
