@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';
.presentation {
  &__btn {
    @include flex(center, flex-end);
    padding: 0.5rem 2rem 0.5rem 2rem;
    > button {
      margin: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      color: $white-primary;
      font-size: $font-size--xl;
      font-weight: $font-weight--bold;
    }
  }

  &__logo {
    max-width: 10rem;
    max-height: 10rem;
    margin-right: auto;
  }
}

// quick fix margin for the add new option button
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-5vsnzl-MuiButtonBase-root-MuiButton-root {
  margin-top: 1rem;
}
